{% extends "AppFamilia/padre.html" %}

{% load static %}

{% block contenidoModificable%}
<h3>Sobre mi: Mi nombre es Tomás Ferrari, soy de Argentina y tengo 22 años. </h3>
<h4> Este es mi primer contacto con el mundo de la programación.</h4>
<h5> La idea de esta web es que cada usuario pueda dar algo de información de su vida, contar algo de sus familiares, pero más que nada compartir gustos, en este caso musicales y deportivos, para que otros tengan la oportunidad de conocer nuevas experiencias.</h5>

{% endblock %}

