<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Nombre del equipo: <i> {{equipo.nombre1}}</i></p>
    <p>Pais del equipo: <i> {{equipo.pais}}</i></p>
    <img src="{{equipo.imagen1.url}}" alt="No hay imagen">
   
    <p>
        <a href="{% url 'ListEquipos' %}">Regresar</a>
    </p>
</body>
</html>