<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Lista de equipos</h1> 
<button>
    <a href="{% url 'Inicio' %}"> Volver al inicio </a>
    </button>
<body>
    
    <a href="{%url 'NewEquipos' %}">Crear</a>
    <button>
        <a href="{%url 'BusquedaEquipo' %}">Buscar equipo</a>
    </button>
    <u1>
        {% for equipo in object_list %}
        <li>
            <p> Nombre: {{equipo.nombre1}}</p>

            <p>
                <a href="{%url 'DetailEquipos' equipo.id %}">Ver</a>
                <a href="{%url 'EditEquipos' equipo.id %}">Editar</a>
                <a href="{%url 'DeleteEquipos' equipo.id %}">Borrar</a>

            </p>
        </li>
        {% endfor %}
    </u1>
    
</body>
</html>